@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo!</h1>
    <p> Aqui voce ira se deselvolver </p>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
