<div class="row">
	<div class="col-6">
		<div class="card mt-3">
			<div class="card-header bg-dark">
				<h5 class="card-title">Area do professor</h5>
			</div>
			<div class="card-body bg-info">
				<a type="button" asp-action="TeacherArea"> Acessar</a>
			</div>
		</div>
	</div>
	<div class="colo-6">
		<div class="mt-3">
			<div class="card-header bg-dark">
				<h5 class="card-title">Area do Aluno</h5>
			</div>
			<div class="card-body ">
				<a type="button" asp-action="StudentArea"> Acessar</a>
			</div>
		</div>
	</div>
</div>