@using ClassroomHub_Web.ViewModels;
@using System.Collections.Generic;
@model IEnumerable<AlunoViewModel>
<h1> Estudantes</h1>
<table class="table table-striped table-hover text-center ">
	<thead>
		<tr> 
			<th>
				
			</th>
			<th>
				
			</th>
			<th>
				
			</th>
		</tr>
	</thead>
		
	<tbody>

	</tbody>
</table>